/****************************************LOGIN PAGE CSS*********************************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-section {
    background: url(../../../assets/images/login-bg.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
}

.main-section h1 {
    margin-top: 0;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.main-section p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.main-box {
    margin: 20px;
}

.main-content {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
}

.user-img {
    padding: 60px;
    padding-top: 30px;
    background: #007bff;
}

.main-section img {
    max-width: 100%;
}

.user-img img {
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #ffffff;
}

.main-box form {
    background: #ffff;
    padding: 30px;
    -webkit-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    -moz-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    margin-top: -40px!important;
    margin-left: 35px!important;
    margin-right: 35px!important;
    margin-bottom: 35px!important;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

p.login-font {
    color: #4e4d4d;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p.login-font span {
    color: #000;
    margin-left: 10px;
}

.input {
    position: relative;
    margin: 20px auto;
    width: 100%;
}

.input input {
    width: 100%;
    padding: 13px 10px 13px 34px;
    display: block;
    border: none;
    border: 1px solid #007bff;
    color: #000;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    -webkit-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    -moz-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.input span {
    position: absolute;
    display: block;
    color: #007bff;
    left: 10px;
    top: 12px;
    font-size: 16px;
}

.submit {
    width: 45px;
    height: 45px;
    display: block;
    margin: 30px auto 0;
    background: #007bff;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.submit span {
    color: #fff;
    font-size: 20px;
}

.copyright {
    margin-top: 30px;
    padding-bottom: 20px;
}

.copyright h2 {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.copyright h2 a {
    color: #007bff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}


/****************************************AFTER LOGIN PAGE CSS*********************************/

h1,
h2,
h3 {
    font-family: Georgia, serif!important;
    font-style: italic;
    text-align: center;
}

#wrapper {
    margin: 15px;
}

p.btnstyle {
    text-align: center;
    margin: 40px 0;
}

p.btnstyle a {
    border: 2px solid #007bff;
    padding: 10px;
    border-radius: 30px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: .2s;
    transition: .2s;
}

p.btnstyle a:hover {
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: .2s;
    transition: .2s;
}

p.btnstyle button {
    border: 2px solid #007bff;
    padding: 10px;
    border-radius: 30px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: transparent;
    font-size: 16px;
}

p.btnstyle button:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #007bff;
    font-size: 16px;
    -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: .2s;
    transition: .2s;
}


/****************************************TOPBAR WITH LOGO CSS*********************************/

.topbar {
    position: relative;
    overflow: hidden;
}

.topbar a {
    float: left;
    color: #696969;
    text-align: center;
    padding: 30px 15px;
    text-decoration: none;
    font-size: 18px;
}

.topbar a:hover {
    color: black;
}

.topbar-centered {
    text-align: center;
}

.topbar-centered a {
    float: none;
    transform: translate(-50%, -50%);
}

.topbar-centered a > img {
    width: 100px;
    height: 100px;
}

.topbar-right {
    float: right;
}

.topbar-right .user-name {
    border: 1px solid #007bff;
    color: #007bff;
    padding: 8px;
    cursor: default;
    margin: 0 16px;
    border-radius: 5px;
    font-weight: bold;
}

.topbar-right i {
    color: #007bff;
}

.box {
    position: relative;
    float: left;
    padding: 26px 0px;
    cursor: pointer;
}


/****************************************MENU BAR CSS*********************************/

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #696969;
    text-align: center;
    padding: 14px 0;
    width: 20%;
    text-decoration: none;
    font-size: 19px;
    transition: all .6s;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.topnav .icon {
    display: none;
}

.edit {
    text-decoration: none;
    font-weight: bold;
    color: orange;
}

.delete {
    text-decoration: none;
    font-weight: bold;
    color: red;
}


/****************************************TABLE CSS*********************************/

table tr td,
table tr td {
    text-align: left;
}

table {
    text-align: left;
    border: 1px solid #DDDDDD;
    font-size: 12px;
    color: #000;
    background: #fff;
    margin-bottom: 10px;
}

table th {
    background-color: #007bff;
    border: 1px solid #BBBBBB;
    padding: 3px 6px;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

table tr td {
    border: 1px solid #DDDDDD;
    padding: 5px 6px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

table tr.alt td {
    background-color: #E2E2E2;
}

table tr:hover {
    background-color: #F0F0F0;
    color: #000;
}


/****************************************ADD/EDIT USER PAGE CSS*********************************/

form.adduser-form .userinfo {
    border: 2px solid #007bff;
    max-width: 315px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0px 8px 10px 5px #cacaca;
}

form.adduser-form .userinfo label {
    font-size: 20px;
}

form.adduser-form .userinfo input {
    margin: 16px 0;
    font-size: 18px;
    padding: 6px;
    box-shadow: 0px 3px 7px 0px #cacaca;
    background-color: #f1f1f1;
    border: 1px solid #dadada;
}

form.adduser-form .userinfo input:hover,
form.adduser-form .userinfo input:focus {
    margin: 16px 0;
    font-size: 18px;
    padding: 6px;
    background-color: #f1f1f1;
    border: 1px solid #007bff;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 123, 255, 1);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 123, 255, 1);
    box-shadow: 0px 3px 7px 0px rgba(0, 123, 255, 1);
    -webkit-transition: .2s;
    transition: .2s;
}


/****************************************ADD/EDIT BLOG PAGE CSS*********************************/

form.addblog-form .bloginfo {
    border: 2px solid #007bff;
    margin: 0 auto;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0px 8px 10px 5px #cacaca;
}

form.addblog-form .bloginfo label {
    font-size: 20px;
}

form.addblog-form .bloginfo p:first-child input {
    width: 100%;
}

form.addblog-form .bloginfo input {
    margin: 16px 0;
    font-size: 18px;
    padding: 6px;
    box-shadow: 0px 3px 7px 0px #cacaca;
    background-color: #f1f1f1;
    border: 1px solid #dadada;
}

form.addblog-form .bloginfo input:hover,
form.addblog-form .bloginfo input:focus {
    margin: 16px 0;
    font-size: 18px;
    padding: 6px;
    background-color: #f1f1f1;
    border: 1px solid #007bff;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 123, 255, 1);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 123, 255, 1);
    box-shadow: 0px 3px 7px 0px rgba(0, 123, 255, 1);
    -webkit-transition: .2s;
    transition: .2s;
}


/****************************************STATUS & ERROR CSS*********************************/

.status-addmsg {
    font-size: 20px;
    border: 1px solid green;
    margin: 0 auto;
    max-width: 200px;
    padding: 5px;
    color: green;
    border-radius: 10px;
    font-weight: 200;
    font-style: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.status-delmsg {
    font-size: 20px;
    border: 1px solid red;
    margin: 0 auto;
    max-width: 200px;
    padding: 5px;
    color: red;
    border-radius: 10px;
    font-weight: 200;
    font-style: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }
}

.error-box {
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.error {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ffd1d1;
    color: red;
    background-color: #FDF0EB;
    border-radius: 5px;
    display: inline-block;
}


/**************************MEDIA QUERY FOR MOBILE DEVICE (400PX OR LESS)****************************/

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }
    table,
    head,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        display: none;
    }
    tr {
        border: 1px solid #ccc;
        margin-bottom: 3px;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%!important;
        white-space: normal;
        text-align: left;
        min-height: 30px;
        overflow: hidden;
        word-break: break-all;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
    td:before {
        content: attr(data-title);
    }
    .topbar a,
    .topbar-right {
        display: block;
    }
    .topbar-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .topbar a {
        padding: 10px 15px;
    }
    .topbar-right .signup {
        margin: 0 16px;
    }
    .topnav a {
        padding: 14px 20px;
        width: inherit;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/**************************MEDIA QUERY (401PX OR MORE)****************************/

@media screen and (min-width: 401px) {
    .topnav a:hover {
        color: #007bff;
        text-shadow: 2px 2px 2px #909090;
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .6s;
    }
    .edit {
        padding: 2px 20px;
        border: 1px solid orange;
        border-radius: 20px;
        text-decoration: none;
        font-weight: normal!important;
        color: orange;
        -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -webkit-transition: .2s;
        transition: .2s;
    }
    .delete {
        padding: 2px 20px;
        border: 1px solid red;
        border-radius: 20px;
        text-decoration: none;
        font-weight: normal!important;
        color: red;
        -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -webkit-transition: .2s;
        transition: .2s;
    }
    .edit:hover {
        background-color: orange;
        color: #ffffff;
        -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -webkit-transition: .2s;
        transition: .2s;
    }
    .delete:hover {
        background-color: red;
        color: #ffffff;
        -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
        -webkit-transition: .2s;
        transition: .2s;
    }
}